<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <p>&copy; 2025 DEPA Research Lab. All rights reserved.</p>
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/centerforequitableai/" class="social-link"><i class="fab fa-instagram"></i></a>
                <a href=" https://www.linkedin.com/in/center-for-equitable-ai-and-machine-learning-systems-b50639280/" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.youtube.com/@MSUCEAMLS" class="social-link"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
