<header id="header" class="fixed-top">
    <div class="container">
        <a href="/depa-lab/index.html" class="logo">
            <img src="/depa-lab/images/DEPA-logo.png" alt="DEPA Lab Logo">
        </a>
        <nav id="navbar" class="navbar">
            <i class="bi bi-list mobile-nav-toggle"></i>
            <ul>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#research">Research</a></li>
                <li><a class="nav-link" href="#innovation">Innovation</a></li>
                <li><a class="nav-link" href="#events">Events</a></li>
                <li><a class="nav-link" href="#team">Team</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
